<html>
    <body>
        <h1>Welcome to the Live Football Score!</h1>
        <h2>Please select one of these options:</h2>
        <a href="/newMatch">New match</a>
        <a href="/scoreSummary">Score list</a>
    </html>
</body>