<html>
    <body>
        <a href="/">Return to index</a>
        <h1>Please enter the two teams:</h1>
        <label>Home team: <input type="text" name="homeTeam"/></label><br/>
        <label>Away team: <input type="text" name="awayTeam"/></label><br/>
        <button>Submit</button>
    </html>
</body>