<html>
    <body>
        <h2>Score list</h2>
        <a href="/">Return to index</a>
        <a href="/newMatch">Start new match</a>
        <br/>
        <strong>Home team - away team</strong>
        <ol>
            {% for i in data %}
                <li>{{ i.getHomeTeam() }} {{ i.getHomeTeamScore() }} - {{ i.getAwayTeam() }} {{ i.getAwayTeamScore() }}</li>
            {% endfor %}
        </ol>
    </html>
</body>
